<template name="tmqLogin">
    <div class="w-form" id="login-form">
        <h2 class="text-center" style="margin-top: 200px; margin-bottom: -200px">TxtConsole Management<br><small>for TMQ staffs only</small></h2><hr>
        <form class="login-main-form" id="wf-form-login" name="wf-form-login" data-name="login">
            <input class="w-input login-input" id="login-username" type="text" placeholder="Enter username" name="loginUsername" data-name="login-username" required="required">
            <input class="w-input login-input" id="login-password" type="password" placeholder="Enter your password" name="loginPassword" data-name="Password" required="required">
            <input class="w-button login-button" type="submit" value="Submit" data-wait="Please wait...">
        </form>
    </div>
</template>